<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WikiParse_BDI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WikiParse_BDI.My.MySettings>
            <setting name="Ontop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDilemeter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dilemeter" serializeAs="String">
                <value>:</value>
            </setting>
            <setting name="WorkingDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1026</value>
            </setting>
        </WikiParse_BDI.My.MySettings>
    </userSettings>
</configuration>